/.classpath
/.DS_Store
/.mvn/
/.gradle/
/target/
/.project
/.settings/
/bin/
/.attach_pid*
/mvnw/
/mvnw.cmd
/.externalToolBuilders/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


/vsc-token/target/
/*.tmp
/*.gz
/transactions-atomikos/*
vsc-foappRefId.jpg
vsc-foappRefId.png
vsc-foeNumber.png
/vsc-fo.log

/vsc-management.log
/vsc-security.log
/vsc-agent/appRefId.jpg
/vsc-website/nullenumber.png
/vsc-website/nulltest.png
/vsc-tokenappRefId.png
/vsc-tokeneNumber.png
/vsc-websiteappRefId.jpg

/vsc-commons/src/main/resources/vsc-local.properties
/vsc-commons/src/main/resources/vsc.properties
